.git
.github
.vs
.vscode
bin
obj
**/bin
**/obj
**/.vs
**/.vscode

__pycache__
**/__pycache__
.ipynb_checkpoints
**/.ipynb_checkpoints
.venv
venv
env
VirtualFittingRoom/.venv-catvton

.env
.env.*
secrets.json
*.user
*.suo
*.log

*.ipynb
assignments
Colab
.tunnel

base_model-*
catvton_weights-*
model-*
base_model
catvton_weights
model
*.bin
*.safetensors
*.pth
*.pkl
