@{
    ViewData["Title"] = "Change Password";
}

<h3>Change Password</h3>

<form asp-action="ChangePassword" method="post">
    <input type="hidden" name="Email" value="@ViewBag.Email" />

    <input name="NewPassword"
           type="password"
           class="form-control"
           placeholder="New Password"
           required />

    <button class="btn btn-dark mt-3 w-100">
        Save Password
    </button>
</form>
